* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: black;
  color: #ffffff;
  line-height: 1.6;
  padding: 20px;
}

header {
  background-color: #1e1e1e; /* Dark purple for header */
  color: #ffffff; /* White text */
  padding: 60px 0;
  text-align: center;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
  font-style: italic;
}

main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 40px;
}

.introduction p {
  font-size: 18px;
  padding: 15px;
  border-left: 5px solid #2e3b4e; /* Purple left border */
  background-color: #1e2631; /* Light gray background for intro */
}

.section h2 {
  font-size: 24px;
  color: white; /* Purple for section titles */
  border-bottom: 2px solid #2e3b4e; /* Purple underline */
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white; /* Dark gray for subsection titles */
}

.benefits-list {
  list-style-type: none;
  margin-left: 20px;
}

.benefits-list li {
  margin-bottom: 10px;
  font-size: 18px;
}

pre {
  background-color: #1e2631; /* Light grey for code blocks */
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

pre code {
  font-family: "Courier New", monospace;
  font-size: 14px;
}

.conclusion h2 {
  font-size: 24px;
  color: white; /* Purple for conclusion title */
}

.conclusion p {
  font-size: 18px;
}

/* comment section */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-post {
  display: flex;
  justify-content: space-between;
}

.like-button {
  background-color: #0e7f70;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.like-button:hover {
  background-color: #0c6d61;
}

.comment-section {
  max-width: 900px;
  width: 100%;
  margin-top: 40px;
}

.comment-section textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2e3b4e;
  background-color: #1e1e1e;
  color: white;
  font-family: "Merriweather", serif;
}

.comment-section button {
  margin-top: 10px;
  background-color: #0e7f70;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.comment-section button:hover {
  background-color: #0c6d61;
}

/* latest and related post */
.lr {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.latest-posts,
.related-posts {
  margin-top: 80px;
  padding: 20px;
  /* background-color: #1e1e1e; */
  border-radius: 8px;
}

.latest-posts h2,
.related-posts h2 {
  color: #ffff;
  margin-bottom: 15px;
}

.latest-posts ul,
.related-posts ul {
  list-style-type: none;
}

.latest-posts li,
.related-posts li {
  margin-bottom: 10px;
}

.latest-posts a,
.related-posts a {
  color: #0e7f70;
  text-decoration: none;
}

.latest-posts a:hover,
.related-posts a:hover {
  text-decoration: underline;
}
